/* GENERAL DOCUMENT STYLES
   ========================================================================== */

body {
  font-family: Lato, sans-serif;
  text-align: center;
  font-size: 16px;
  background-image: url(../img/background.png);
}


/* HEADER STYLES
   ========================================================================== */

h1 {
  margin: 30px auto;
  font-weight: 600;
  font-size: 3.7em;
  color: #02b2e3;
}


/* SCORE PANEL STYLES
   ========================================================================== */

.score-panel {
  width: 75%;
  font-size: 175%;
  display: inline-block;
}

.score-panel #stars {
  float: left;
}

.score-panel .restart {
  float: right;
  cursor: pointer;
  position: relative;
    top: -30px;
}
.moves #clicks {
  padding-left: 30px;
}


/* CARD'S DECK STYLES
   ========================================================================== */

.card-tile {
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}
.card-tile:last-of-type {
  margin-bottom: 25px;
} 

.card-face {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

img {
border-radius: 10px;
border: #2c3e50 1px solid;
}


/* FOOTER STYLES
   ========================================================================== */

footer {
  font-weight: 600;
  font-size: 1.1em;
  color: #02b2e3;
}


/* MODAL STYLES
   ========================================================================== */

.modal-title {
  font-size: 200%;
}

.modal-content {
  font-size: 150%;
}

.play-again {
  font-size: 90%;
  font-weight: 600;
  float: left;
}